*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header styles  */
.header{
    height: 800px;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: left;
}
.header-banner h3{
    font-weight: 700px;
    font-size: 65px;
    text-align: right;
    color: #151414;
    padding: 250px 100px 24px 0px;
}
.header-banner p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    padding: 0px 100px 24px 0px;
}
.header-banner button{
    margin-left: 1125px;
    color: #FFFFFF;
    background-color: #F15B22;
    border-radius: 5px;
    border: 0px;
    padding: 20px 25px;
}

/* failures section styles  */

.failures-section{
    display: flex;
    margin-top: 100px;
}
.section-decoration{
    padding: 250px 100px 0px 150px;
}
.section-decoration h3{
    color: #151414;
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 24px;
}
.section-decoration .para{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
}
.img-decoration img {
    padding-right: 100px;
}

/* extra section mentor styles  */
.mentor {
    display: flex;
    margin: 120px 150px;
    background-color: rgb(245, 215, 215);
    border-radius: 10px;
}
#Jhanker-vai img{
    border-radius: 50%;
    padding: 20px 50px;
    padding-top: 50px;
}
.mentor-section{
    margin: 150px 50px 150px 30px;
}
.mentor-section h3 {
    color: #151414;
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 24px;  
}


/* plans section styles  */
.another-section{
    margin-left: 50px;
    margin-bottom: 100px;
}
.section-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
}
.section-description{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.img-style{
    padding: 60px 50px;
}
.img-style h4{
    color: #151414;
    text-align: center;
    font-weight: 500px;
    font-size: 20px;
    padding: 16px 0px 16px 0px;
}
.img-style p{
    color: #737272;
    text-align: center;
}
.img-style img {
  padding-left: 10px;
}
.img-style .img-padd{
    padding-left: 40px;
}


/* linear gradient styles  */
.gradient-title {
    padding: 55px 600px 55px 65px;
}
.gradient-title h3{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 25px;
    color: #FFFFFF;
}
.primary-btn {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: 0px;
}
.gradient {
    /* background-image: url('../images/watch.png');  */
    background-repeat: no-repeat;
    background-position: left;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    border-radius: 8px;
    margin: 0px 100px 200px 100px;
}